<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>TP n°2 - VERAN Xavier</title>
  <link rel="stylesheet" type="text/css" href="./TD2.css">
  <script src="TD2.js"></script>
</head>

<body onload="pageLoaded()">

<div id="frameInsert">
  <input type="button" value="DIV" onclick="insertB('div')"/> <!-- Appel fonction 'InsertB' de paramètre div au  clique -->
  <input type="button" value="P" onclick="insertB('p')"/>
  <input type="button" value="H2" onclick="insertB('h2')"/>
  <input type="text" id="IdZoneDeTexte1"/>
</div>

<div>
  <h1 id="IdH1">TD n°2, JavaScript</h1>
</div>

<div id="IdH2">
  <h2>Ceci est le premier H2</h2>
  <h2>Ceci est le second H2</h2>
  <h2>Ceci est le troisième H2</h2>
</div>

<p class="red">Jour de la semaine :</p>

<div>
  <ul>
    <li><p><a class="red" href="TD2.html">Lundi</a></p></li>
    <li><p><a class="red" href="TD2.html">Mardi</a></p></li>
    <li><p><a class="red" href="TD2.html">Mercredi</a></p></li>
    <li><p><a class="red" href="TD2.html">Jeudi</a></p></li>
    <li><p><a class="red" href="TD2.html">Vendredi</a></p></li>
    <li><p><a class="red" href="TD2.html">Samedi</a></p></li>
    <li><p><a class="red" href="TD2.html">Dimanche</a></p></li>
  </ul>
</div>

</body>

</html>
